.wrap {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    overflow: hidden;
}
.col {
    margin-left: 5px;
    margin-right: 5px;
}
.custom-card {
    background-color: #F2E3D5;
    box-shadow: -2px -2px 18px 0px white, 2px 2px 18px -10px black;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
.category {
    font-size: 14px;
    color: #774C29;
}
.card-tittle {
    color: #B27748;
}
.card-text {
    color: #5A381C;
}
.button {
    background: linear-gradient(to bottom, #FFB880, #CF8E5B);
    color: #3F362C;
    font-size: 14px;
    box-shadow: 0px 7px 15px 0px #FFB880;
    border: none;
    outline: none;
}
.button:hover {
    color: white;
}
.button-view {
    padding-top: 2rem;
}
.button .button-view {
    box-shadow: 0px 12px 25px 0px #FFB880;
}
.tittle {
    color: #956138;
}

