/* .row {
    display: flex;
    align-items: flex-start;
} */

.cart {
    background-image: linear-gradient(to left, #E2C7B3, #FBEFE1, #E2C7B3);
    padding-top: 48px;
    padding-bottom: 48px;
    margin-top: 48px;
}
.btn-plus {
    border: none;
    outline: none;
    background-color: #C5B4A6;
    color: #292D32;
    font-size: 1.2rem;
}
.btn-plus:hover {
    color: white;
    background-color: #a79382;
}
.btn-minus {
    border: none;
    outline: none;
    background-color: #E5D8C9;
    color: #292D32;
    font-size: 1.2rem;
}
.btn-minus:hover {
    color: white;
    background-color: #a79382;
}
.button-add:hover {
    opacity: 0.8;
}

.custom-btn {
    height: 2.5rem;
}
.custom-btn.active,
.custom-btn:active,
.custom-btn:focus {
    background: linear-gradient(to bottom, #FFB880, #CF8E5B);
  border-color: #dadada !important;
  
}
.bi-arrow {
  /* Warna panah ketika tombol tidak aktif */
  color: #ffffff;
}

.custom-btn.active .bi-arrow,
.custom-btn:active .bi-arrow,
.custom-btn:focus .bi-arrow {
  /* Warna panah ketika tombol aktif */
  color: #5A381C;
}


.color button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  /* .color button.active,
  .color button:active,
  .color button:focus {
    border: black !important;
  } */

 

  .color .buttonimg:focus img {
    transform: scale(1.25); /* Sesuaikan dengan faktor perbesaran yang diinginkan */
  }
  .color .buttonimg.active img {
    transform: scale(1.25);
  }


  .images button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .images .buttonphoto.active img {
    border: 3px solid black;
  }
  .images .buttonphoto:focus img {
    outline: 3.5px solid #5A381C;
  }


.content .text {
        font-size: 16px;
    }

  @media screen and (min-width: 768px) {
    .content .text {
      font-size: 20px;
  }
}

  @media screen and (min-width: 1024px) {
    .col-size {
        margin-right: 13px;
    }
}