

/* SMALL */
@media (min-width: 319px) {
    .badan label {
        font-size: 15px;
    }
    .badan .forget {
        font-size: 15px;
    }
    .badan .login-with {
        font-size: 13px;
    }
}

/* MEDIUM */
@media (min-width: 767px) {
}

/* LAPTOP */
@media (min-width: 1024px) {
}