.hero-section .with {
  color: #5a381c;
}

.hero-section .urself {
  color: #ffb880;
}

.hero-section h1 {
    font-size: 3.4rem;
    color: #774C29;
}

.hero-section .button-container button {
  background: linear-gradient(180deg, #FFB880 0%, #CF8E5B 100%);
box-shadow: 0px 12px 25px 0px rgba(255, 184, 128, 0.80);
}

/* SMALL */
@media (min-width: 319px) {
  
.text-container {
  margin-top: 200px;
}

  .side-ticket svg,
  .side-love svg {
    display: none;
  }
  .tulisan-vertikal {
  display: none;
  }
  .ticket,
  .love {
   display: none;
  }
}

/* MEDIUM */
@media (min-width: 767px) {
  .text-container {
    margin-top: 0;
  }

  .side-ticket {
    position: absolute;
    right: 0;
  }
  
  .side-love {
    position: absolute;
    margin-top: -53%;;
    right: 0;
  }
  
  .side-ticket svg,
  .side-love svg {
    display: flex;
    z-index: 1;
  }
  
  .tulisan-vertikal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    white-space: nowrap;
    margin-top: 30px;
    color: #774C29;
    z-index: 2;
  }
  
  .ticket {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 35%;
    z-index: 2;
    display: flex;
  }
  
  .love {
    position: absolute;
    top: 41%;
    left: 30%;
    z-index: 2;
    display: flex;
  }

}

/* LAPTOP */
@media (min-width: 1024px) {
  .side-ticket {
    position: absolute;
    right: 0;
  }
  
  .side-love {
    position: absolute;
    margin-top: -40%;;
    right: 0;
  }
  
  .side-ticket svg,
  .side-love svg {
    z-index: 1;
    display: flex;
  }
  
  .tulisan-vertikal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    white-space: nowrap;
    margin-top: 30px;
    color: #774C29;
    z-index: 2;
  }
  
  .ticket {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 35%;
    z-index: 2;
    display: flex;
  }
  
  .love {
    position: absolute;
    top: 41%;
    left: 30%;
    z-index: 2;
    display: flex;
  }
}

.fitur-mobile {
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: 100%;
  margin-left: 70%;
}

.fitur-container {
  background: #F2E3D5;
}